@import "bootstrap.less";

@page-width: 999px;

@h: 100px;
@w: 100%;

body, ul, li { margin: 0; padding: 0; }
ul, li { display: block; }

@color: #ff0000;

@unit: 100%;
@background: @color;
@adjust: 11;

.hold {
  background: @color;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.sq {
  .square(@h);
  #gradient>.vertical(@color, spin(@color, @adjust * 2));
  float: left;
  display: inline-block;
  &:nth-child(even) { #gradient>.vertical(spin(@color, @adjust * 2), @color); }
}

.line {
  height: 1px;
  position: absolute;
  background: black;
  top:50%;
  left: 0px;
  right:0px;
}
.circle {
  .in {
    position: absolute;
    border-radius:200px;
    .square(300px);
    top: 25%;
    left: 25%;
    #gradient>.vertical(spin(@color, @adjust * 2), @color);
  }
  position: relative;
  margin-top: -300px;
  margin-left: auto;
  margin-right: auto;
  .square(600px);
  background: black;
  border-radius: 300px;
}









